.col-sm-6.offset-sm-3
  %h2 Sign up
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    = f.input :email, input_html: { autocomplete: 'email' }
    = f.input :password, input_html: { autocomplete: "new-password" }
    = f.input :password_confirmation, input_html: { autocomplete: "new-password" }
    = f.input :school_id, collection: School.all
    = f.submit "Sign up", class: 'btn btn-primary'
    %br
  = render "devise/shared/links"
