.col-md-8.offset-md-2
  %h2 New Student
  = simple_form_for @student, method: :post do |f|
    = f.input :email
    = f.input :first_name
    = f.input :last_name
    = f.input :password
    = f.input :password_confirmation
    = f.input :school_id, collection: School.all
    = f.submit class: 'btn btn-primary'
