= button_to 'Add Student', new_student_path, method: :get
%table
  %thead
    %th Name
    %th Email
    %th Actions
  %tbody
    - @students.each do |student|
      %tr
        %td= student.fullname
        %td= student.email
        %td= button_to 'Edit', edit_student_path(student), method: :get
        %td= button_to 'Delete', student_path(student), method: :delete, data: { confirm: 'Are you sure?' }
